.Projects{
    margin: 10px;
    margin-left: 10%;
    margin-right: 15%;
    display: grid;
    padding: 20px;
    align-items: center;
    text-align: justify;
}

.Projects div{
    margin-top: 10px;
    margin-bottom: 30px solid ;
    padding: 20px;
    
}

.Projects img{
    float: left;
    width: 500px;
    height: 220px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;   
    cursor: pointer;
}

.Projects h1{
    font-size: 30px;
}

.Projects h4{
    position: top absolute;
}

.Projects img:hover{
    transform: translateY(-10px);
    transition-duration: 0.5s;
}