.Projects{
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    padding: 20px;
    align-items: center;
    text-align: justify;
}

.Projects div{
    margin-top: 10px;
    margin-bottom: 30px solid ;
    padding: 20px;
      
}

.Projects img{
    float: left;
    width: 300px;
    height: 220px;
    padding: 20px;
    margin-right: 40px;
    
}

.Projects h1{
    font-size: 30px;
}

.Projects h4{
    position: top absolute;
}

#only{
    border-bottom: 3px solid #e0e0e0;  
}