body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #000000;
  /* background-color: rgb(195, 244, 203); */
  background-image: url('./Image/background.svg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}