body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #000000;
  background-color:   rgba(208, 221, 250, 0.75);
  background-image: url('./Image/background.svg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}