.btn{
    background-color: #4551ff;
    border: none;
    padding: 10px;
    font-weight: bolder;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn:hover{
    color: #000072;
    background-color: #3030ef69;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}